---
layout: default
title: Myrthe Majoor - Printing techniques
---

<!-- Prikbord 2 Columns-->
<div class="col-12 col-md-9 col-xl-8">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <br><br><br>
                <h3><b>Printing techniques</b></h3>
                <br>
                <a class="text-dark" href="#monotypes"><b>Monotypes</b></a>
                <br>
                <a class="text-dark" href="#lithography"><b>Lithography</b></a>
                <br>
                <a class="text-dark" href="#linography"><b>Linography</b></a>
                <br>
            </div>
        </div>

        <div class="col-lg-12" id="monotypes">
            <div class="text-center">
                <br><br><br>
                <h3><b>Monotypes</b></h3>
                <br>
            </div>
            <p>
                Monotypes are created by painting an image on a flat surface.
                The painted image is transferred to paper by pressing a paper sheet on the painted surface.
                The print that is left on the paper is what we call a monotype.
            </p>
            <p>
                I use the monotyping technique as the basis of my short animated films.
                I really enjoy combining monotyping with animation.
                Check out the pages for my short animated films 
                <b><a class="text-dark" href="dans_les_nuages_blancs">Dans les nuages blancs</a></b> 
                and 
                <b><a class="text-dark" href="home_of_the_giants">Home of the giants</a></b>. 
            </p>
            <p>
                Some examples of monotypes for short film 
                <i>Home of the giants</i>
                can be found below.
                
            </p>

            <br>
            <br>                            
            <!-- Content -->
            {% for item in site.data.monotypes %}
            <div class="text-center">
                <img src="assets/images/monotypes/{{ item.image }}.jpg" class="{{ item.size }}">
            </div>
            <div class="text-center">
                <p> {{ item.text }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="col-lg-12" id="lithography">
            <div class="text-center">
                <br><br><br>
                <h3><b>Lithography</b></h3>
                <br>
            </div>
            <p>
                There is something about printing techniques that I've always loved. I think it's the combination of a lot of handwork and the surprises that inevitably pop up every time you make a print. No print is the same and I see beauty in the small 'mistakes'.
            </p>
            <p>
                My old teacher Henk Tichelaar taught me how to execute the lithography technique. It is the most complicated printing technique I have learned. There is so much to it and there are so many things that can go wrong, even in the eventual printing process, that I always experience a victorious feeling when I finally make the first print.
            </p>
            <p>
                The prints below are examples from this beautiful lithography technique.
            </p>
            <br>
            <br>                            
            <!-- Content -->
            {% for item in site.data.lithography %}
            <div class="text-center">
                <img src="assets/images/lithography/{{item.image }}.jpg" class="{{ item.size }}">
            </div>
            <div class="text-center">
                <p> {{ item.text }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="col-lg-12" id="linography">
            <div class="text-center">
                <br><br><br>
                <h3><b>Linography</b></h3>
                <br>
            </div>
            <p>
                Linography is a printing technique that forces you to look at overall shapes and pushes you to think in layers. 
                I love to experiment with this technique and I also use it to print hand printed clothing. 
                My linographs and clothing series can be found in my <a href="https://www.etsy.com/nl/shop/MyrtheMajoor" target="_blank" style="color: black"><b>online shop</b></a>.
            </p>
            <p>
                Some examples of my linography works, including the hand printed clothing series, can be found below.
            </p>

            <br>
            <br>                            
            <!-- Content -->
            {% for item in site.data.linography %}
            <div class="text-center">
                <img src="assets/images/linography/{{item.image }}.jpg" class="{{ item.size }}">
            </div>
            <div class="text-center">
                <p> {{ item.text }}</p>
            </div>
            {% endfor %}
        </div>

    </div>
</div>