body {
    font-family: 'Montserrat';
    /*font-size: 22px;*/

    background: url(/images/background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

img {
    pointer-events: none;
}

/*.navbar-toggler{
	z-index: 500;
}*/