body {
    font-family: 'Montserrat';

    background: url(/images/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
}

.myFooter {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #282828;
	color: white;
	text-align: center;
	font-size: smaller;
}