<!-- Sidebar -->             
<!-- Navigation menu -->
<div class="row">
    <div class="col-12 h-100">
        <div class="list-group rounded-0">
            {% for item in site.data.sidebar %}
            <a class="list-group-item list-group-item-action text-dark border-0 py-1" style="background-color: rgba(255, 255, 255, 0.8);" href="{{ item.link }}">{{ item.name }}</a>
            {% endfor %}       
            

            <!-- Empty list item for spacing -->
            <a class="list-group-item border-0" style="background-color: rgba(255, 255, 255, 0.0);"></a>

            <a class="list-group-item list-group-item-action text-dark border-0 py-1" style="background-color: rgba(255, 255, 255, 0.8);" href="about">About me</a>
            <a class="list-group-item list-group-item-action text-dark border-0 py-1" style="background-color: rgba(255, 255, 255, 0.8);" href="contact">Contact</a>
            <a class="list-group-item list-group-item-action text-dark border-0 py-1" style="background-color: rgba(255, 255, 255, 0.8);" href="shop" target="_blank">Shop</a>

            <!-- Empty list item for spacing -->
            <!-- <a class="list-group-item border-0" style="background-color: rgba(255, 255, 255, 0.8);"></a> -->

            <a class="list-group-item border-0" style="background-color: rgba(255, 255, 255, 0.8);" href="https://www.instagram.com/myrthemajoor_art/" target="_blank">
                <img border="0" alt="Instagram link" src="assets/images/instagram.png" width="25" height="25">
            </a>
        </div>
    </div>
</div>